body {
    /* Garante que não haja espaços em branco */
    margin: 0;
    height: 100vh;
    
    /* Configurações para a imagem de fundo cobrir a tela toda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Uma cor de fundo enquanto o jogo carrega */
    background-color: #01080E;
}